@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;600&display=swap');

.wrap{
	margin: auto;
	width:40%;
	font-family: 'Lora', serif;
	font-weight: 400;
	background: #ececec;
	padding: 2%;
	border-radius: 3%;
	box-shadow: 0 0 10px #968f8f;
}
.title{	
	font-weight: 600;
}
