.user{
	display: flex;
	margin: 40px 0 60px 0;
	padding: 20px;
	border: 1px solid black;
    border-color: lightgray;
    border-radius: 15px;
    background: #f5f2f2;
}
.userImg{
	width: 30%;
	border-radius: 15px;
	margin-right: 5%;
}
.userInfo{
 	width: 70%;
}  
.contact{
	display: flex;
	margin: 5px 0 5px 0;
} 
.contactIcon{
	width:20px;
	margin-right: 10px;
}
.socialNetwork{
	display: flex;
    justify-content: flex-end;
    margin: 60px 0 0 0;
}
.socialIcon{
	width:25px;
	margin-right: 10px;
}
.repoList{
	list-style: none;
	padding-top: 50px;
    padding-right: 30px;
	border: 1px solid black;
    border-color: lightgray;
    border-radius: 15px;
    background: #f5f2f2;
}
.repo{	
	margin: 10px;
    padding: 10px 0 0 20px;
	border: 1px solid black;
    border-color: lightgray;
    border-radius: 15px;    
}
.repoName{
	text-decoration: none;
    color: black;
    font-weight: bold;
}
.repoDop{
	font-size: 14px;
	margin: 10px 0 5px 0;
	color: #8e8d8d;
}
.repoIcon{
	margin-right: 5px;
}
.repoSpan{
	margin-right: 15px;
}